# .NET
bin/
obj/
**/bin/
**/obj/
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
.user/
.nuget/
**/.nuget/
nuget.config
Library/
.dotnet_temp/
.wrangler/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*.local

# Mac
.DS_Store

# IDEs (Rider/Cursor)
.vscode/
.rider/
.cursorrules
.cursorrules.save
PROJECT_CONTEXT.md